# Telegram Bot Token obtained from @BotFather
BOT_TOKEN=7880417738:AAH91Q5SWkgMDFVgS-jImoVU_JYQUMNfJOc

# Telegram Chat ID or Channel ID where new leads will be sent (can be numeric ID or @channelusername)
ADMIN_CHAT_ID=1050112519
